{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="zxx">

{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="AutoMotive Template">
    <meta name="keywords" content="AutoMotive, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesotho Funeral Services</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
        <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__left">
                            <li><span class="icon_mobile"></span> (+266) 63 443 555</li>
                            <li><span class="icon_clock_alt"></span> Mon-Sat: 10:00 - 16:00 / Sunday Close</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <a href="#" class="map-btn">Find us on map <span class="arrow_right"></span></a>
                            <div class="header__right__social">
                                <a href="#"><span class="social_facebook"></span></a>
                                <a href="#"><span class="social_twitter"></span></a>
                                <a href="#"><span class="social_instagram"></span></a>
                                <a href="#"><img src="{% static 'img/whatsapp4.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/lesotho_funeral_logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="./about.html">Claims</a>
                                <ul class="dropdown">
                                    <!--<li><a href="./claims.html">View your Claim History</a></li>-->
                                </ul>
                            </li>
                            <li><a href="#">Funeral Services</a>
                                <ul class="dropdown">
                                    <li><a href="#">Funeral Services</a></li>
                                    <li><a href="#">Pre-Paid Funeral</a></li>
                                    <li><a href="#">Pre-Arrangement</a></li>
                                    <li><a href="#">Repatriations</a></li>
                                    <li><a href="#">Tombstones</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Funeral Covers</a>
                                <ul class="dropdown">
                                    <li><a href="#">View your Policy</a></li>
                                    <li><a href="#">Family Cover</a></li>
                                    <li><a href="#">Single Cover</a></li>
                                    <li><a href="#">Pensioners Cover</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <ul class="header__right">
                        <li><a href="#" class="search-switch"><span class="icon_search"></span></a></li>
                        <li><a href="#"><span class="icon_cart_alt"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <div class="claim"><br>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="content-section">
            <form method="Post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign In</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Haven't created an account yet? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                </small>
            </div>
        </div>
    </div>

    </body>
</html>